<html>
    <head>
        <title>Tom's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Tom's Blog</a></h1>
        </div>

        <div>
            <p>published: 6.02.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Its my first post and here it is and here it will be for a while...</p>
        </div>

        <div>
            <p>published: 7.02.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>And this on here, well this one is my second post!</p>
        </div>
    </body>
</html>
